<header class="header">
    <div class="container">
        <div class="menu d_flex jc_between">
            <div class="logo">
                <a href="../pages/index.html">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                        alt="LOGO">
                </a>
            </div>
            <div class="h_nav">
                <ul class="d_flex gap_4 fw_wrap ta_center">
                    <li><a href="./product_optical.html">系列鏡框</a></li>
                    <li><a href="./store_locations.html">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>