<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sunglasses</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main>

      <div class="product_list">
        <div class="container">
          <div class="list ">
            <div class="d_flex ai_center jc_between fs_7 fs_md_9 fs_sm_10">
              <a href="./product_optical.html">OPTICAL</a>
              <a href="./product_sunglasses.html">SUNGLASSES</a>
              <a href="#">FUNCTIONAL</a>
            </div>
          </div>
        </div>
      </div>

      <div class="product_banner d_flex">
        <div class="product2_banner_1"></div>
        <div class="product2_banner_2"></div>
      </div>

      <div class="product2">
        <div class="container container_md container_sm">
          <div class="product2_title">
            <h1 class="fs_8 fs_sm_9">2020 NEW COLLECTION</h1>
            <h2 class="fs_7 fs_sm_9">賽璐珞鈦金屬混合鏡框</h2>
          </div>

          <div class="product2_card">
            <div class="d_flex fw_wrap gap_7 gap_7_md gap_7_sm">

              <div class="card2">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true"
                  alt="product-7">
                <div class="card_content d_flex jc_between">
                  <h3 class="fs_9">BJ41600S</h3>
                  <h4 class="fs_9">NTD3,490</h4>
                </div>
                <div class="product_color d_flex gap_6">
                  <div class="color_1"></div>
                  <div class="color_2"></div>
                </div>
              </div>

              <div class="card2">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true"
                  alt="product-8">
                <div class="card_content d_flex jc_between">
                  <h3 class="fs_9">BJ41600S</h3>
                  <h4 class="fs_9">NTD3,490</h4>
                </div>
                <div class="product_color d_flex gap_6">
                  <div class="color_1"></div>
                  <div class="color_2"></div>
                </div>
              </div>

              <div class="card2">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true"
                  alt="product-9">
                <div class="card_content d_flex jc_between">
                  <h3 class="fs_9">BJ41600S</h3>
                  <h4 class="fs_9">NTD3,490</h4>
                </div>
                <div class="product_color d_flex gap_6">
                  <div class="color_1"></div>
                  <div class="color_2"></div>
                </div>
              </div>

              <div class="card2">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true"
                  alt="product-10">
                <div class="card_content d_flex jc_between">
                  <h3 class="fs_9">BJ41600S</h3>
                  <h4 class="fs_9">NTD3,490</h4>
                </div>
                <div class="product_color d_flex gap_6">
                  <div class="color_1"></div>
                  <div class="color_2"></div>
                </div>
              </div>

              <div class="card2">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true"
                  alt="product-11">
                <div class="card_content d_flex jc_between">
                  <h3 class="fs_9">BJ41600S</h3>
                  <h4 class="fs_9">NTD3,490</h4>
                </div>
                <div class="product_color d_flex gap_6">
                  <div class="color_1"></div>
                  <div class="color_2"></div>
                </div>
              </div>

              <div class="card2">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true"
                  alt="product-12">
                <div class="card_content d_flex jc_between">
                  <h3 class="fs_9">BJ41600S</h3>
                  <h4 class="fs_9">NTD3,490</h4>
                </div>
                <div class="product_color d_flex gap_6">
                  <div class="color_1"></div>
                  <div class="color_2"></div>
                </div>
              </div>

            </div>
          </div>          
        </div>

        <div class="product_pages">
          <div class="d_flex jc_center">
            <input type="submit" class="page_btn" value="上一頁">
            <ul class="d_flex">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
            </ul>
            <input type="submit" class="page_btn" value="下一頁">
          </div>

        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>