<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>store_locations</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <main>
            <div class="store_locations">
                <div class="container container_md container_sm">
                    <div class="store_locations_title">
                        <h1 class="fs_3 fs_sm_9">門市據點</h1>
                    </div>

                    <div class="select_locations d_flex ai_center gap_5 gap_6_sm">
                        <label for="city" class="fs_9 fs_sm_10">選擇地區</label>
                        <select name="city" id="city" class="locations">
                            <option value="台北市">台北市</option>
                            <option value="台中市">台中市</option>
                            <option value="高雄市">高雄市</option>
                        </select>
                    </div>

                    <div class="location_cards d_flex fw_wrap gap_8 gap_1_md gap_1_sm">

                        <div class="location_card">
                            <a href="#">
                                <div>
                                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
                                        alt="store-1">
                                </div>
                                <ul>
                                    <li>
                                        <h2 class="fs_9">台北中山旗艦店</h2>
                                    </li>
                                    <li>
                                        <div class="location_card_content">
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">call</span>
                                                電話：(02)000-1234
                                            </p>
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">schedule</span>
                                                營業時間：10:00-21:00
                                            </p>
                                            <p class="d_flex gap_6">
                                                <span class="material-symbols-outlined p_top_2">location_on</span>
                                                地址：台北市中山區南京東路25巷2-1號
                                            </p>
                                        </div>
                                    </li>
                                    <li class="location_card_footer">
                                        <p class=" ta_center">詳細資訊</p>
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <div class="location_card">
                            <a href="#">
                                <div>
                                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
                                        alt="store-2">
                                </div>
                                <ul>
                                    <li>
                                        <h2 class="fs_9">台北綠園店</h2>
                                    </li>
                                    <li>
                                        <div class="location_card_content">
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">call</span>
                                                電話：(02)000-2345
                                            </p>
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">schedule</span>
                                                營業時間：10:00-21:00
                                            </p>
                                            <p class="d_flex gap_6">
                                                <span class="material-symbols-outlined p_top_2">location_on</span>
                                                地址：台北市中正區復興南路 132-1 號
                                            </p>
                                        </div>
                                    </li>
                                    <li class="location_card_footer">
                                        <p class=" ta_center">詳細資訊</p>
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <div class="location_card">
                            <a href="#">
                                <div>
                                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
                                        alt="store-3">
                                </div>
                                <ul>
                                    <li>
                                        <h2 class="fs_9">台中清水旗艦店</h2>
                                    </li>
                                    <li>
                                        <div class="location_card_content">
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">call</span>
                                                電話：(04)000-1234
                                            </p>
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">schedule</span>
                                                營業時間：10:00-21:00
                                            </p>
                                            <p class="d_flex gap_6">
                                                <span class="material-symbols-outlined p_top_2">location_on</span>
                                                地址：台中市清水區經南一路 23 號 8 樓
                                            </p>
                                        </div>
                                    </li>
                                    <li class="location_card_footer">
                                        <p class=" ta_center">詳細資訊</p>
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <div class="location_card">
                            <a href="#">
                                <div>
                                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
                                        alt="store-4">
                                </div>
                                <ul>
                                    <li>
                                        <h2 class="fs_9">高雄中正形象店</h2>
                                    </li>
                                    <li>
                                        <div class="location_card_content">
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">call</span>
                                                電話：(07)000-2345
                                            </p>
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">schedule</span>
                                                營業時間：10:00-21:00
                                            </p>
                                            <p class="d_flex gap_6">
                                                <span class="material-symbols-outlined p_top_2">location_on</span>
                                                地址：高雄市苓雅區中正路 38 號 12 樓
                                            </p>
                                        </div>
                                    </li>
                                    <li class="location_card_footer">
                                        <p class=" ta_center">詳細資訊</p>
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <div class="location_card">
                            <a href="#">
                                <div>
                                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
                                        alt="store-5">
                                </div>
                                <ul>
                                    <li>
                                        <h2 class="fs_9">高雄夢時代店</h2>
                                    </li>
                                    <li>
                                        <div class="location_card_content">
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">call</span>
                                                電話：(07)000-1234
                                            </p>
                                            <p class="d_flex gap_6 ai_center p_bottom_1">
                                                <span class="material-symbols-outlined">schedule</span>
                                                營業時間：10:00-21:00
                                            </p>
                                            <p class="d_flex gap_6">
                                                <span class="material-symbols-outlined p_top_2">location_on</span>
                                                地址：高雄市前鎮區中華一路 63 號 6 樓
                                            </p>
                                        </div>
                                    </li>
                                    <li class="location_card_footer">
                                        <p class=" ta_center">詳細資訊</p>
                                    </li>
                                </ul>
                            </a>
                        </div>

                    </div>

                </div>
            </div>

        </main>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>